# Ignore Gradle project-specific cache directory
.gradle
.gitignore 

# Ignore Gradle build output directory
build
bin
src\test\java\ScrollSystem\resources
app/src/test/java/ScrollSystem/resources/*

src\main\java\ScrollSystem\resources
app/src/main/java/ScrollSystem/Databases/*

# Ignore unnecessary files
.gradle
.idea
gradle
.gitattributes
gradlew
gradlew.bat
settings.gradle